.Home{
    width: 100vw;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.bg{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bg-circle{
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
}

.bg :nth-child(2n+1){
    background-color: var(--secondary-color);
}

.bg :nth-child(2n){
    background-color: var(--white);
}

.bg :nth-child(1){
    height: 200px;
    width: 200px;
    top: 100px;
    left: -50px;
}

.bg :nth-child(2){
    height: 300px;
    width: 300px;
    top: 120px;
    right: -10px;
}

.bg :nth-child(3){
    height: 100px;
    width: 100px;
    top: 300px;
    right: 500px;
}

.bg :nth-child(4){
    height: 400px;
    width: 400px;
    top: 500px;
    right: 700px;
}

.bg :nth-child(5){
    height: 300px;
    width: 300px;
    top: 400px;
    right: 300px;
}

.bg :nth-child(6){
    height: 400px;
    width: 400px;
    top: -20px;
    right: 600px;
}

.bg :nth-child(7){
    height: 400px;
    width: 400px;
    top: 400px;
    left: -100px;
}


.bg :nth-child(8){
    height: 200px;
    width: 200px;
    top: 700px;
    right: -100px;
}

.bg :nth-child(9){
    height: 100px;
    width: 100px;
    top: 700px;
    right: 600px;
}

.bg :nth-child(10){
    height: 200px;
    width: 200px;
    top: 900px;
    right: 500px;
}

.bg :nth-child(11){
    height: 400px;
    width: 400px;
    top: 1100px;
    right: -200px;
}

.bg :nth-child(12){
    height: 300px;
    width: 300px;
    top: 900px;
    left: -100px;
}

.bg :nth-child(13){
    height: 300px;
    width: 300px;
    top: 1100px;
    left: 400px;
}

.bg :nth-child(14){
    height: 200px;
    width: 200px;
    top: 1300px;
    left: 200px;
}

.bg :nth-child(15){
    height: 100px;
    width: 100px;
    top: 1030px;
    left: 300px;
}

.bg :nth-child(16){
    height: 400px;
    width: 400px;
    top: 1500px;
    left: 500px;
}

.bg :nth-child(17){
    height: 500px;
    width: 500px;
    top: 1400px;
    left: -200px;
}

.bg :nth-child(18){
    height: 200px;
    width: 200px;
    top: 1350px;
    right: 200px;
}

.bg :nth-child(19){
    height: 100px;
    width: 100px;
    top: 1600px;
    right: 250px;
}

.bg :nth-child(20){
    height: 300px;
    width: 300px;
    top: 1700px;
    right: -100px;
}

@keyframes moveTop {
    100%{
        top:0px;
    }
}












