.Home{
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    background: url("../../../public/images/bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
}

.Home div{
    width: 100%;
}

@keyframes moveTop {
    100%{
        
    }
}












