.Navbar{
    width: 100vw;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid var(--secondary-color);
    position: fixed;
    z-index: 5;
    background-color: var(--primary-color);
}