.Navbar{
    width: 100%;
    max-width: 1440px;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid var(--secondary-color);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--primary-color);
}

