.BannerImg{
    max-width:400px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

}

@media screen and (max-width:600px){
    .BannerImg{
        max-width: 300px;
    }
    
}

.circles-img{
    position: absolute;
    height: 600px;
    width: 600px;
    left:1%;
}

.person-img{
    position: absolute;
    top: 10%;
    left: 25%;
    height: 500px;
}


