.SearchResults{
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left:0rem;
    width: 100vw;
    max-height: 300px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding-right: 1.5rem;
}