@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
  --primary-color : #CFF4D2;
  --secondary-color: #56C596;
  --tertiary-color: #329D9C;
  --white: white;

  --deskopt-width: 1440px;
  --mobile-width: 375px;
  height: 100%;
  overflow: auto;

}

.btn{
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  height: 2rem;
  font-size: 1rem;
}

.btn-cancel{
  border: none;
  outline: none;
  color: var(--tertiary-color);
  background:none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  height: 2rem;
  font-size: 1rem;
}

.btn:hover{
  border: 0.1rem solid var(--tertiary-color);
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  font-weight: bold;

}

.input{
  font-size: 1rem;
  padding: 0 0.3rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
