@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
  --primary-color : #CFF4D2;
  --secondary-color: #56C596;
  --tertiary-color: #329D9C;
  --white: white;

  --deskopt-width: 1440px;
  --mobile-width: 375px;
  height: 100%;
  overflow: auto;

}

.btn{
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--secondary-color);
}
