.Footer{
    width: 100%;
    max-width: 1440px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);

}

.footer-logo h3{
    align-self: flex-start;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.footer-links{
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}


.footer-links p{
    cursor: pointer;
}

.copywrite {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.copywrite p{
    font-size: 0.7rem;
}

@media screen and (max-width:600px) {
    .footer-links{
        flex-direction: column;
        text-align: center;
    }
}

